<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Pokemon page</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <div class="jumbotron">
        <h1>Pokemon getter</h1>
        <p class="lead">For all your pokemon info needs. Enter a pokemon below and click enter to see information about the pokemon.</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="messageForm" th:action="@{/pokemonInfo}" method="get">
                <fieldset>
                    <legend>Pokemon: </legend>
                    <input type="text" name="pokemon">
                    <input type="submit" value="Get Pokemon Info" />
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>