<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->

    <head>
        <title>Pokemon search!</title>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <h2>Pokemon Information</h2>
            <div>
                <p>You entered pokemon: <span th:text="${pokemonInfo.name}"></span></p>
                <p>Abilities: <span th:text="${pokemonInfo.getAbilityName()}"></span></p>
                <p>SpeciesURL: <span th:text="${pokemonInfo.getSpeciesURL()}"></span></p>
                <img th:src="${pokemonInfo.getSpriteURL()}" alt="Sprite" style="width:500px;height:500px;" >
            </div>
        </div>
    </body>
</html>